name: Todo App Tests

on: 
  push: 
    branches: [main, master, develop]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install pytest pytest-playwright
          playwright install chromium

      - name: Run unit tests
        run: pytest --ignore=todo_list/ -v

      - name: Run e2e tests
        run: pytest todo_list/test_todo_list.py -v

  
